In [1]:
import pandas as pd

# Q 1.

## Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
pd.Series([4,8,15,16,23,42])

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q 2.

## Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
l = [1,2,3,4,5,6,7,8,9,10]
pd.Series(l)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q 3.

## Create a Pandas DataFrame that contains the following data:
## Then, print the DataFrame.

In [4]:
df= pd.DataFrame({'Name':['Ailce','Bob','Clair'],
               'Age':[25,30,27],
               'Gender':['Female','Male','Female']
             })
df

    Name  Age  Gender
0  Ailce   25  Female
1    Bob   30    Male
2  Clair   27  Female

# Q 4.

## What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table, where data is organized in rows and columns. A pandas series, on the other hand, is a one-dimensional labeled array capable of holding any data type.

In [5]:
# for example , df is a DataFrame
df

    Name  Age  Gender
0  Ailce   25  Female
1    Bob   30    Male
2  Clair   27  Female

In [6]:
# where as 
df['Age'] #it is a Pandas series

0    25
1    30
2    27
Name: Age, dtype: int64

# Q 5.

## What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions that are frequently used are:

head() and tail(): Used to view the top or bottom rows of the DataFrame, respectively. These are useful to get a quick view of the data and check if it is loaded correctly. For example, df.head() will show the first 5 rows of the DataFrame.

describe(): Provides summary statistics for numerical columns in the DataFrame. For example, df.describe() will give you the count, mean, standard deviation, minimum, and maximum values for all numerical columns in the DataFrame.

drop(): Used to drop specified rows or columns from the DataFrame. For example, df.drop('column_name', axis=1) will drop a column named 'column_name' from the DataFrame.

fillna(): Used to fill null or missing values in the DataFrame with a specified value or method. For example, df.fillna(0) will fill all null values in the DataFrame with 0.

groupby(): Used to group data based on one or more columns and perform aggregate functions on them. For example, df.groupby('column_name').mean() will group the data based on unique values in 'column_name' and calculate the mean of all numerical columns.

sort_values(): Used to sort the DataFrame based on one or more columns. For example, df.sort_values('column_name') will sort the DataFrame based on values in 'column_name'.

apply(): Used to apply a function to one or more columns in the DataFrame. For example, df['column_name'].apply(function) will apply a function to values in 'column_name'.

# Q 6.

## Which of the following is mutable in nature Series, DataFrame, Panel?

Among the three data structures - Series, DataFrame, and Panel - only DataFrame is mutable in nature. This means that we can modify the data in a DataFrame after it has been created.

# Q 7.

## Create a DataFrame using multiple Series. Explain with an example.

In [7]:
a = pd.Series(['X','Y','Z'])
b= pd.Series([2,3,5])
c= pd.Series([12,54,67])
df1 = pd.DataFrame({'Name':a, 'Score':b, 'Age':c})
df1

  Name  Score  Age
0    X      2   12
1    Y      3   54
2    Z      5   67